openapi: 3.2.0
info:
  title: Bright Data Delivery API
  version: v3
  contact:
    name: Bright Data
    url: https://docs.brightdata.com
  description: 'Operations tagged Delivery across 2 of this provider''s published API definitions: bright-data-dataset-marketplace-api-openapi.yml, bright-data-web-scraper-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.brightdata.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Delivery
paths:
  /datasets/snapshots/{snapshot_id}/deliver:
    parameters:
    - name: snapshot_id
      in: path
      required: true
      schema:
        type: string
    post:
      summary: Deliver Snapshot to Cloud
      operationId: deliverDatasetSnapshot
      tags:
      - Delivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - destination
              properties:
                destination:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - s3
                      - azure
                      - gcs
                      - snowflake
                      - webhook
                    bucket:
                      type: string
                    credentials:
                      type: object
                      additionalProperties: true
                format:
                  type: string
                  enum:
                  - json
                  - ndjson
                  - csv
                  - parquet
                compress:
                  type: boolean
      responses:
        '200':
          description: Delivery scheduled.
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.brightdata.com
      description: Production
  /datasets/v3/snapshot/{snapshot_id}/deliver:
    parameters:
    - name: snapshot_id
      in: path
      required: true
      schema:
        type: string
    post:
      summary: Deliver Snapshot to Cloud Storage
      operationId: deliverSnapshot
      tags:
      - Delivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deliver:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - s3
                      - gcs
                      - azure
                      - snowflake
                      - webhook
                    filename:
                      type: object
                    bucket:
                      type: string
                    credentials:
                      type: object
                      additionalProperties: true
                format:
                  type: string
                  enum:
                  - json
                  - ndjson
                  - csv
                  - parquet
                compress:
                  type: boolean
      responses:
        '200':
          description: Delivery scheduled.
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.brightdata.com
      description: Production
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- bright-data-dataset-marketplace-api-openapi.yml
- bright-data-web-scraper-api-openapi.yml
