openapi: 3.2.0
info:
  title: Bright Data Zones API
  version: '1.0'
  description: 'Operations tagged Zones across 2 of this provider''s published API definitions: bright-data-account-management-api-openapi.yml, bright-data-proxy-manager-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.brightdata.com
  description: Production
- url: http://localhost:22999
  description: Local Proxy Manager
tags:
- name: Zones
paths:
  /zone:
    post:
      summary: Add Zone
      operationId: addZone
      tags:
      - Zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - zone
              - plan
              properties:
                zone:
                  type: string
                plan:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - residential
                      - isp
                      - datacenter
                      - mobile
                      - unblocker
                      - serp
                      - scraping_browser
                    country:
                      type: string
                    ips:
                      type: integer
      responses:
        '200':
          description: Zone created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
      security:
      - BearerAuth: []
    get:
      summary: Get Zone
      operationId: getZone
      tags:
      - Zones
      parameters:
      - name: zone
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Zone detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
      security:
      - BearerAuth: []
    delete:
      summary: Delete Zone
      operationId: deleteZone
      tags:
      - Zones
      parameters:
      - name: zone
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Zone deleted.
          content:
            application/json:
              schema:
                type: object
      security:
      - BearerAuth: []
    servers:
    - url: https://api.brightdata.com
      description: Production
  /zone/change_disable:
    post:
      summary: Enable or Disable Zone
      operationId: toggleZone
      tags:
      - Zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - zone
              - disable
              properties:
                zone:
                  type: string
                disable:
                  type: boolean
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                type: object
      security:
      - BearerAuth: []
    servers:
    - url: https://api.brightdata.com
      description: Production
  /api/zones:
    get:
      summary: List Zones
      operationId: listZones
      tags:
      - Zones
      responses:
        '200':
          description: Zones configured in the Proxy Manager.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
    servers:
    - url: http://localhost:22999
      description: Local Proxy Manager
components:
  schemas:
    Zone:
      type: object
      properties:
        zone:
          type: string
        type:
          type: string
        password:
          type: string
        ips:
          type: integer
        country:
          type: string
        plan:
          type: object
          additionalProperties: true
        disabled:
          type: boolean
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- bright-data-account-management-api-openapi.yml
- bright-data-proxy-manager-api-openapi.yml
