openapi: 3.1.0
info:
  title: Bright Data Account Management Access Delivery API
  description: 'Programmatic management of Bright Data zones (proxy pools and product entitlements), IP

    allocations, access control (whitelists, blacklists, domain permissions), passwords, and

    billing/bandwidth reporting. Authentication uses a Bearer API token issued from the control panel.

    '
  version: '1.0'
  contact:
    name: Bright Data
    url: https://docs.brightdata.com
servers:
- url: https://api.brightdata.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Delivery
paths:
  /datasets/snapshots/{snapshot_id}/deliver:
    parameters:
    - name: snapshot_id
      in: path
      required: true
      schema:
        type: string
    post:
      summary: Deliver Snapshot to Cloud
      operationId: deliverDatasetSnapshot
      tags:
      - Delivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - destination
              properties:
                destination:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - s3
                      - azure
                      - gcs
                      - snowflake
                      - webhook
                    bucket:
                      type: string
                    credentials:
                      type: object
                      additionalProperties: true
                format:
                  type: string
                  enum:
                  - json
                  - ndjson
                  - csv
                  - parquet
                compress:
                  type: boolean
      responses:
        '200':
          description: Delivery scheduled.
          content:
            application/json:
              schema:
                type: object
  /datasets/v3/snapshot/{snapshot_id}/deliver:
    parameters:
    - name: snapshot_id
      in: path
      required: true
      schema:
        type: string
    post:
      summary: Deliver Snapshot to Cloud Storage
      operationId: deliverSnapshot
      tags:
      - Delivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deliver:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - s3
                      - gcs
                      - azure
                      - snowflake
                      - webhook
                    filename:
                      type: object
                    bucket:
                      type: string
                    credentials:
                      type: object
                      additionalProperties: true
                format:
                  type: string
                  enum:
                  - json
                  - ndjson
                  - csv
                  - parquet
                compress:
                  type: boolean
      responses:
        '200':
          description: Delivery scheduled.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
