openapi: 3.1.0
info:
  title: Bright Data Account Management Access Zones API
  description: 'Programmatic management of Bright Data zones (proxy pools and product entitlements), IP

    allocations, access control (whitelists, blacklists, domain permissions), passwords, and

    billing/bandwidth reporting. Authentication uses a Bearer API token issued from the control panel.

    '
  version: '1.0'
  contact:
    name: Bright Data
    url: https://docs.brightdata.com
servers:
- url: https://api.brightdata.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Zones
paths:
  /zone:
    post:
      summary: Add Zone
      operationId: addZone
      tags:
      - Zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - zone
              - plan
              properties:
                zone:
                  type: string
                plan:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - residential
                      - isp
                      - datacenter
                      - mobile
                      - unblocker
                      - serp
                      - scraping_browser
                    country:
                      type: string
                    ips:
                      type: integer
      responses:
        '200':
          description: Zone created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
    get:
      summary: Get Zone
      operationId: getZone
      tags:
      - Zones
      parameters:
      - name: zone
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Zone detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
    delete:
      summary: Delete Zone
      operationId: deleteZone
      tags:
      - Zones
      parameters:
      - name: zone
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Zone deleted.
          content:
            application/json:
              schema:
                type: object
  /zone/change_disable:
    post:
      summary: Enable or Disable Zone
      operationId: toggleZone
      tags:
      - Zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - zone
              - disable
              properties:
                zone:
                  type: string
                disable:
                  type: boolean
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                type: object
  /api/zones:
    get:
      summary: List Zones
      operationId: listZones
      tags:
      - Zones
      responses:
        '200':
          description: Zones configured in the Proxy Manager.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
components:
  schemas:
    Zone:
      type: object
      properties:
        zone:
          type: string
        type:
          type: string
        password:
          type: string
        ips:
          type: integer
        country:
          type: string
        plan:
          type: object
          additionalProperties: true
        disabled:
          type: boolean
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
