openapi: 3.1.0
info:
  title: Bright Data Account Management Access IPs API
  description: 'Programmatic management of Bright Data zones (proxy pools and product entitlements), IP

    allocations, access control (whitelists, blacklists, domain permissions), passwords, and

    billing/bandwidth reporting. Authentication uses a Bearer API token issued from the control panel.

    '
  version: '1.0'
  contact:
    name: Bright Data
    url: https://docs.brightdata.com
servers:
- url: https://api.brightdata.com
  description: Production
security:
- BearerAuth: []
tags:
- name: IPs
paths:
  /zone/ips:
    get:
      summary: List Zone IPs
      operationId: listZoneIps
      tags:
      - IPs
      parameters:
      - name: zone
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Allocated IPs.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
    post:
      summary: Add IPs to Zone
      operationId: addZoneIps
      tags:
      - IPs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - zone
              - ips
              properties:
                zone:
                  type: string
                ips:
                  type: integer
                country:
                  type: string
      responses:
        '200':
          description: Allocation submitted.
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Remove IPs from Zone
      operationId: removeZoneIps
      tags:
      - IPs
      parameters:
      - name: zone
        in: query
        required: true
        schema:
          type: string
      - name: ips
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Removed.
          content:
            application/json:
              schema:
                type: object
  /zone/ips/refresh:
    post:
      summary: Refresh Zone IPs
      operationId: refreshZoneIps
      tags:
      - IPs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - zone
              properties:
                zone:
                  type: string
                ips:
                  type: integer
      responses:
        '200':
          description: Refresh queued.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
